body {
    background-color: darkgray;
}

.textoCentrado {
    text-align: center;
    background-color: chartreuse;
    font-family:'Rubik', sans-serif;
}

#alimentosMalos {
    text-align: end;
}

span { 
    background-size: 7px;
    background-color: blueviolet;
}

.div-red {
    width: 160px;
    border: 8px solid red;
    padding: 20px;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}